<div class="mt-1 w-full h-fit">
    <div class="mt-1 bg-black h-96">
        <h1 class="text-white mx-4 pt-2 text-2xl">SHIRTS</h1>
        <div class="flex mx-16">
            <div *ngFor="let product of shirts" class="h-fit w-48 bg-white mt-2 mx-4 flex flex-col">
                <img [src]="product.image" alt="" class="p-1 h-52">
                <p class="mx-auto">{{product.name}}</p>
                <p class="mx-auto">{{product.price | currency: 'INR'}}</p>
                <button class="bg-blue-600 mx-2 mb-2 h-fit border-2 border-black rounded-md" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="mt-1 bg-black h-96">
        <h1 class="text-white mx-4 pt-2 flex text-2xl">MOBILES</h1>
        <div class="flex gap-4 ml-20">
            <div *ngFor="let product of mobiles" class="h-fit w-48 bg-white mt-2 mx-4 flex flex-col">
                <img [src]="product.image" alt="" class="p-1 h-52">
                <p class="mx-auto">{{product.name}}</p>
                <p class="mx-auto">{{product.price | currency: 'INR'}}</p>
                <button class="bg-blue-600 mx-2 mb-2 h-fit border-2 border-black rounded-md" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="mt-1 bg-black h-96">
        <h1 class="text-white mx-4 pt-2 flex text-2xl">Groceries</h1>
        <div class="flex gap-4 ml-20">
            <div *ngFor="let product of groceries" class="h-fit w-48 bg-white mt-2 mx-4 flex flex-col">
                <img [src]="product.image" alt="" class="p-1 h-52">
                <p class="mx-auto">{{product.name}}</p>
                <p class="mx-auto">{{product.price | currency: 'INR'}}</p>
                <button class="bg-blue-600 mx-2 mb-2 h-fit border-2 border-black rounded-md" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="mt-1 bg-black h-96">
        <h1 class="text-white mx-4 pt-2 flex text-2xl">Vegetables</h1>
        <div class="flex gap-4 ml-20">
            <div *ngFor="let product of vegetables" class="h-fit w-48 bg-white mt-2 mx-4 flex flex-col">
                <img [src]="product.image" alt="" class="p-1 h-52">
                <p class="mx-auto">{{product.name}}</p>
                <p class="mx-auto">{{product.price | currency: 'INR'}}</p>
                <button class="bg-blue-600 mx-2 mb-2 h-fit border-2 border-black rounded-md" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="mt-1 bg-black h-96">
        <h1 class="text-white mx-4 pt-2 flex text-2xl">Gym Equipments</h1>
        <div class="flex gap-4 ml-20">
            <div *ngFor="let product of gymequips" class="h-fit w-48 bg-white mt-2 mx-4 flex flex-col">
                <img [src]="product.image" alt="" class="p-1 h-52">
                <p class="mx-auto">{{product.name}}</p>
                <p class="mx-auto">{{product.price | currency: 'INR'}}</p>
                <button class="bg-blue-600 mx-2 mb-2 h-fit border-2 border-black rounded-md" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
